body {
  margin:0px;
  background-color:rgba(0, 102, 0, 1);
  background-image:none;
  position:relative;
  left:-0px;
  width:1060px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:688px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:-25px;
  top:-31px;
  width:300px;
  height:688px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:336px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:206px;
  height:70px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:61px;
  width:206px;
  height:70px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:27px;
  width:202px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:161px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:37px;
  width:164px;
  height:161px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:72px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:14px;
  width:164px;
  height:21px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  white-space:nowrap;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:60px;
  width:28px;
  height:5px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:43px;
  height:31px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:91px;
  width:28px;
  height:5px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-13px;
  width:42px;
  height:31px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:119px;
  width:27px;
  height:5px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:371px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:275px;
  top:286px;
  width:810px;
  height:371px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:178px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:76px;
  width:196px;
  height:83px;
  font-family:'Arial Rounded MT Bold', 'Arial Rounded MT';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  white-space:nowrap;
}
#u18_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:169px;
  width:347px;
  height:22px;
  font-family:'Arial Negrita', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:347px;
  white-space:nowrap;
}
